/* info */
.btn-info{
    color: gray;
    background-color: white;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-info:hover{
    color: white;
    background-color: gray;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
/* info2 */
.btn-info2{
    color: gray;
    background-color: white;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-info2:hover{
    color: white;
    background-color: gray;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
/* info3 */

/* info4 */

/* footer */
.footer{
    color: white;
    background-color: purple;
    padding: 10px;
}